.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4vw;
}

/*#region Hello Message*/

.hello {
  display: table;
  height: 100%;
  margin-top: 13vh;
}

.welcome {
  margin: 3vh 0;
}

/*#endregion*/

/*#region Rooms List */

.rooms {
  max-height: 70vh;
  margin-top: 10vh;
}

.scroll {
  overflow-y: auto;
  max-height: 47vh;
  min-height: 24vh;
  border: 0.3vw solid var(--primary-color);
  border-top: 0;
}

#search-room {
  border: none;
  border-left: 0.3vw solid var(--primary-color);
  border-right: 0.3vw solid var(--primary-color);
}

.collection-item > a {
  font-size: var(--small-text);
  cursor: pointer;
  text-align: left;
}

.searchbar {
  text-align: center;
}

li:last-child {
  border-bottom: 0.2vw solid var(--primary-color);
}

.empty-message {
  border-top: 0.3vw solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24vh;
  width: 44vw;
}

/*#endregion*/

.unhide {
  display: block;
}
